[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BasketballAnalyzeR"]
	path = BasketballAnalyzeR
	url = https://github.com/sndmrc/basketballanalyzer
